<!-- <div class="custom-box-2">
  <h1 class="title">Nasil Dinliyoruz?</h1>
  <p class="help paragraph">
    Ne Kadeer ,bskhbb kscvbkjsbcs sljbijsh;sldjbsk oihz kigsf /;zhfibz
    .nzbvflzuf ;fugzfhv ,ondl`jbcliuc Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Atque suscipit
  </p>
  <div class="custom-box">
    <div class="father-progress">
      <mat-progress-bar mode="determinate" [value]="10" class="progress">
      </mat-progress-bar>
      <div class="text-progress">Soura <span>1</span>/9</div>
    </div>

    <p class="evaluation paragraph">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque suscipit
      repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
    </p>
    <mat-list role="list">
      <mat-list-item role="listitem" class="paragraph">
        1- Hicbar Zaman
      </mat-list-item>
      <mat-list-item role="listitem"> 2- Nadiren </mat-list-item>
      <mat-list-item role="listitem">3- Genellikle</mat-list-item>
      <mat-list-item role="listitem">4- Cogu Zaman</mat-list-item>
      <mat-list-item role="listitem">5- Daima</mat-list-item>
    </mat-list>
  </div>
</div>
 -->

<div class="d-flex">
  <div class="content">
    <!-- example 1 -->

    <div class="custom-box-2">
      <h1 class="title">Nasil Dinliyoruz? tttt</h1>
      <p class="help paragraph">
        Ne Kadeer ,bskhbb kscvbkjsbcs sljbijsh;sldjbsk oihz kigsf /;zhfibz
        .nzbvflzuf ;fugzfhv ,ondl`jbcliuc Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Atque suscipit
      </p>
      <div class="custom-box">
        <div class="father-progress">
          <mat-progress-bar mode="determinate" [value]="10" class="progress">
          </mat-progress-bar>
          <div class="text-progress">Soura <span>1</span>/9</div>
        </div>

        <p class="paragraph">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
          suscipit repellendus nesciunt culpa inventore dicta, accusantium
          adipisci labor
        </p>

        <h5>How to list with frinds to talk</h5>
        <mat-list role="list" class="list-checked">
          <mat-list-item
            role="listitem"
            class="paragraph d-flex space-between align-center"
          >
            1- Hicbar Zaman
            <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
          </mat-list-item>
          <mat-list-item role="listitem" class="paragraph"
            >2- Nadiren
            <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
          </mat-list-item>
          <mat-list-item role="listitem" class="paragraph active"
            >3- Genellikle
            <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
          </mat-list-item>
          <mat-list-item role="listitem" class="paragraph"
            >4- Cogu Zaman
            <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
          </mat-list-item>
          <mat-list-item role="listitem" class="paragraph"
            >5- Daima
            <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="d-flex space-between m-20">
      <button mat-flat-button color="primary">Soruyu Alta</button>
      <div class="gap-10">
        <button mat-button>Basic</button>
        <button mat-flat-button color="primary">ilire</button>
      </div>
    </div>
    <!-- example 2 -->
    <div class="custom-box">
      <div class="father-progress">
        <mat-progress-bar mode="determinate" [value]="10" class="progress">
        </mat-progress-bar>
        <div class="text-progress">Soura <span>1</span>/9</div>
      </div>

      <h1 class="title">Nasil Dinliyoruz?</h1>
      <p class="help paragraph">
        Ne Kadeer ,bskhbb kscvbkjsbcs sljbijsh;sldjbsk oihz kigsf /;zhfibz
        .nzbvflzuf ;fugzfhv ,ondl`jbcliuc Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Atque suscipit
      </p>
      <p class="evaluation paragraph">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque suscipit
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </p>
      <mat-list role="list">
        <mat-list-item role="listitem" class="paragraph p-0">
          1- Hicbar Zaman
        </mat-list-item>
        <mat-list-item role="listitem" class="p-0 paragraph"
          >2- Nadiren
        </mat-list-item>
        <mat-list-item role="listitem" class="p-0 paragraph"
          >3- Genellikle</mat-list-item
        >
        <mat-list-item role="listitem" class="p-0 paragraph"
          >4- Cogu Zaman</mat-list-item
        >
        <mat-list-item role="listitem" class="p-0 paragraph"
          >5- Daima</mat-list-item
        >
      </mat-list>
    </div>

    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>

    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>
    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>
    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>
    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>
    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>
    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>
    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>
    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>
    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>
    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>
    <div class="custom-box text-center">
      <h3>
        repellendus nesciunt culpa inventore dicta, accusantium adipisci labor
      </h3>

      <section class="example-section test d-flex space-between">
        <p class="paragraph">Nadiren</p>
        <div class="gap">
          <mat-checkbox class="example-margin" color="primary">1</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">2</mat-checkbox>
          <mat-checkbox class="example-margin active" color="primary">
            3
          </mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">4</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary">5</mat-checkbox>
        </div>
        <p class="paragraph">Daima</p>
      </section>
    </div>

    <div class="d-flex space-between m-20">
      <button mat-flat-button color="primary">Soruyu Alta</button>
      <div class="gap-10">
        <button mat-button>Basic</button>
        <button mat-flat-button color="primary">ilire</button>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="fixed">
      <div class="grop-date m-b">
        <div class="date">
          <span class="time"> 00 </span>
          <span class="text"> Saat </span>
        </div>
        <span class="coma">:</span>
        <div class="date">
          <span class="time"> 00 </span>
          <span class="text">Dakika</span>
        </div>
        <span class="coma">:</span>
        <div class="date">
          <span class="time">00</span>
          <span class="text">Sanyia</span>
        </div>
      </div>
      <div class="grop-button d-flex space-between">
        <button mat-flat-button color="primary">Soruyu Alta</button>
        <button mat-stroked-button disabled>Disabled</button>
      </div>
      <p class="ident m-b">Sinav suresi 02:30 sattir</p>

      <mat-card class="m-b">
        <mat-card-content class="">
          <h4>Sinav Bilgileri</h4>
          <div class="info gap-10 d-flex space-between">
            <div class="basic-50">
              <span>Program</span>
              <p class="text">Yönetici Yetkinlik Geliştirme Program</p>
            </div>
            <div class="basic-50">
              <span>Seans</span>
              <p class="text">YYT Testi</p>
            </div>
          </div>
          <div class="info gap-10 d-flex space-between border-0">
            <div class="basic-50">
              <span>Son Katilim Tarihi</span>
              <p class="text">01.01.2023</p>
            </div>
            <div class="basic-50">
              <span>Durum</span>
              <p class="text">YYT Testi</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="post d-flex align-center m-b">
        <div class="">
          <img src="../../assets/image/avatar.png" alt="" />
        </div>
        <div class="info">
          <h4>Ahmet Hmadi Bagriyane</h4>
          <p>Matmtik orggaihan</p>
          <a href="email"> a.ahmetlsndlj@gmail.com </a>
        </div>
      </div>

      <form class="example-form">
        <input matInput #Sorayu Unazi placeholder="Sorayu Unazi" />
        <button mat-flat-button color="primary">Gundor</button>
      </form>
      <p class="ident m-b">Sinav suresi 02:30 sattir</p>

      <mat-card class="m-b">
        <mat-card-content class="">
          <h4>Sinav Bilgileri</h4>
          <div class="post d-flex align-center card-post">
            <div class="">
              <img src="../../assets/image/avatar.png" alt="" />
            </div>
            <div class="info border-0">
              <span class="">Cevap</span>
              <p class="paragraph">chilike hakyfda ,ajkdhglayg</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-list role="list" class="list m-b">
        <mat-list-item role="listitem" class="d-flex row-list">
          <span class="number">1</span>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel
            blanditiis odio libero corporis asperiores commodi i.
          </p>
        </mat-list-item>
        <mat-list-item role="listitem" class="d-flex row-list">
          <span class="number">1</span>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel
            blanditiis odio libero corporis asperiores commodi i.
          </p>
        </mat-list-item>
        <mat-list-item role="listitem" class="d-flex row-list">
          <span class="number">1</span>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel
            blanditiis odio libero corporis asperiores commodi i.
          </p>
        </mat-list-item>
        <mat-list-item role="listitem" class="d-flex row-list">
          <span class="number">1</span>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel
            blanditiis odio libero corporis asperiores commodi i.
          </p>
        </mat-list-item>
        <mat-list-item role="listitem" class="d-flex row-list">
          <span class="number">1</span>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel
            blanditiis odio libero corporis asperiores commodi i.
          </p>
        </mat-list-item>
        <mat-list-item role="listitem" class="d-flex row-list">
          <span class="number">1</span>
          <p class="text">Lorem</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
